@use 'utility' as *;

body {
	background-color: var(--lightGrayishCyan);
	min-height: 100vh;
}

main {
	display: grid;
	align-content: center;
	min-height: 100vh;
	padding: 5rem 0;

	@include breakpoint(medium) {
		padding: 0;
	}
}

.wrapper {
	row-gap: 4rem;
}

.logo {
	justify-self: center;
}

.label {
	display: block;
}

.heading-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.error {
	color: var(--error);
	font-size: 1.6rem;
	font-weight: 700;
	display: none;
}
